* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Actor', 'Adamina';
}

.pg2section1 {
  background-color: rgb(27, 26, 26);
  height: 250px;
  display: flex;
}

.navbar2 {
  display: flex;
  font-family: 'Poppins', 'Actor', 'Adamina';
  padding: 30px;
  float: right;

}

.navbar2>ul {
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-decoration: none;
  padding-right: 350px;
}

.navbar a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  text-decoration: none;


}

.navbar a:hover {
  background: purple;
  color: black;
}


.text {
  color: white;
  display: flex;

}

.text1 {
  color: white;
}

.text2 {
  color: white;
}

.pg2section4 {
  border: 1px solid blue;
  padding: 20px;
}

.section4Dets{
  border: 1px solid yellow;
}

.desc1 {
  border: 1px solid purple;

}

.paragraph {
  border: 1px solid green;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.pg2section5 {
  border: 1px solid blue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.section5Dets {
  border: 1px solid yellow;
  padding: 10px;
  justify-content: space-between;
  display: inline-block;
}

.feature{
  border: 1px solid purple;
  padding: 10px;

}

.list1{
  border: 1px solid red;
  flex-direction: row;
  padding-top: 10px;
  margin: 10px;
}
.list2 {
  border: 1px solid red;
  flex-direction: row;
  padding-top: 10px;
  margin: 10px;
}
.list3 {
  border: 1px solid red;
  flex-direction: row;
  padding-top: 10px;
  margin: 10px;
}

.listings {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  background: rgba(204, 204, 204, 0.21);
  padding-left: 10%;
}

hr.line2 {
  width: 9%;
  height: 5px;
  background-image: linear-gradient(to right, orange, yellowgreen, green);
}

.listings h2 {
  font-weight: lighter;
  font-size: 40px;
  padding-top: 20px;
}

.box2 img {
  width: 25px;
}

.box3 img {
  width: 25px;
}

.Malto img {
  width: 300px;
}


.icons {
  display: flex;
  gap: 5px;
}

.similarlistings {
  display: flex;
  justify-content: center;
  background: #cccccc36;
  height: 100px;
  gap: 10px;
}


.box1 {
  padding: 20px 20px 20px 42px;
}

.box2 {
  padding: 20px 20px 20px 50px;
}

.box3 {
  padding: 20px 20px 20px 50px;
}

.images {
  background: #fff;
  height: 300px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  box-shadow: 1px 3px 4px 0px #cccc;
}

h3 {
  padding-left: 20px;
  font-size: 20px;
  font-weight: lighter;
}


/* footer { 
  background-color: rgb(0, 0, 7);
  height: 300px;
}

.footer_flex_items {
  display: flex;
  justify-content: space-around;
  color: white;
}

.footer_p {
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-top: 80px;
}

.heading {
  list-style: none;
  font-style: bold;
}

.orange_footer_text {
  color: orange;
}