@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Poppins:wght@100&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Adamina';
}

.section1 {
  background-image: url("../images/moving\ 1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 90vw;


}

.navbar {
  display: flex;
  font-family: 'Poppins', 'Actor', 'Adamina';
  padding: 30px;
  float: right;
  color: white;

}

.section1>.navbar>ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-right: 350px;

}

.section1>.Change {
  padding-left: 200px;
  float: right;

}

h1 {

  color: yellow;
  font-size: 50px;

}

.navbar a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;


}

.navbar a:hover {
  background: purple;
  color: black;
}

.button1 {
  background-color: yellow;
  color: black;
  border: none;
}

.button2 {
  background-color: black;
  color: yellow;
  border: none;
}

.section2 {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.section2>.hustle {
  display: flex;
}

.section2>.hustle>.hustleImg {
  display: flex;
  width: 400px;
  height: 450px;
  padding-right: 200px;
}

.section2>.hustle>.hustleText {
  margin: 10px 10px;
  padding-left: 200px;
  font-size: 20px;
}

.topmovers {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  background: rgba(204, 204, 204, 0.21);
  padding-left: 10%;
}

hr.line2 {
  width: 9%;
  height: 5px;
  background-image: linear-gradient(to right, orange, yellowgreen, green);
}

.topmovers h2 {
  font-weight: lighter;
  font-size: 40px;
  padding-top: 20px;
}

.box1 img {
  width: 25px;
}

.box2 img {
  width: 25px;
}

.box3 img {
  width: 25px;
}

.truck img {
  width: 340px;
}


.icons {
  display: flex;
  gap: 5px;
}

section.services {
  display: flex;
  justify-content: center;
  background: #cccccc36;
  height: 600px;
  gap: 120px;
}


.box1 {
  padding: 20px 20px 20px 42px;
}

.box2 {
  padding: 20px 20px 20px 50px;
}

.box3 {
  padding: 20px 20px 20px 50px;
}

.A-plusmovers {
  background: #fff;
  height: 415px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  box-shadow: 1px 3px 4px 0px #cccc;
}

h3 {
  padding-left: 20px;
  font-size: 20px;
  font-weight: lighter;
}



footer {
  background-color: rgb(0, 0, 7);
  height: 300px;
}

.footer_flex_items {
  display: flex;
  justify-content: space-around;
  color: white;
}

.footer_p {
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-top: 80px;
}

.heading {
  list-style: none;
  font-style: bold;
}

.orange_footer_text {
  color: orange;
}