@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Actor';
}

header {
  background-color: black;
  height: 200px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;

}

.navbar>ul>li {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 15px;
}

.header_btn {
  background-color: orange;
  height: 45px;
  width: 200px;
  border: none;
}

.header_lower_section {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-right: 100px;
  padding-left: 100px;
  border-top: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;

}

/* pg2section2 */

.content-wrapper {
  /*background-color: red;*/
  /*height: 500px;*/
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.kitchen {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 30px;
}

.kitchen-island img {
  /*max-height: 500px;*/
  margin-left: 200px;
  height: 550px;
}

.profile {
  margin-left: 50px;
  border-radius: 20px;
  /*border: 1px solid black;*/
  background-color: white;
  height: 550px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.profile-img {
  display: flex;
  margin: 15px;
  padding-top: 10px;
  border-radius: 20px;
  background-color: whitesmoke;
}

.kaylee {
  padding-top: 7px;
}

.profile-img img {
  width: 70px;
}

input[type=text],
select,
textarea {
  width: 95%;
  height: 60px;
  padding: 20px 20px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.learn-more {
  padding: 21px 155px 20px 73px;
  border-top-right-radius: 12px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  margin: 20px;
}

.slid-show {
  margin-left: 200px;
}

.slid-show img {
  width: 130px;
}

/* pg2section3 */

.details {
  display: flex;
  /*background: #ffffff;*/
  margin-top: 50px;
  margin-left: 150px;
}

.main-box {
  background: #fff;
  margin-left: 50px;
  padding: 30px 20px 0px 0px;
  border-radius: 20px;

}

h3 {
  padding-left: 30px;
}

.icons2 {
  display: flex;
  gap: 60px;
}

.box1 {
  align-content: center;
  padding: 10px;
}

/* .pg2section4 {  
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
}

.section4Dets {
  border: 1px solid yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc1 {
  border: 1px solid purple;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraph {
  border: 1px solid green;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.pg2section5 {
  border: 1px solid brown;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.section5Dets {
  border: 1px solid yellow;
  padding: 10px;
  justify-content: space-between;
  display: inline-block;
}

.feature {
  border: 1px solid purple;
  padding: 10px;

}

.list1 {
  border: 1px solid red;
  flex-direction: row;
  padding-top: 10px;
  margin: 10px;
}

.list2 {
  border: 1px solid red;
  flex-direction: row;
  padding-top: 10px;
  margin: 10px;
}

.list3 {
  border: 1px solid red;
  flex-direction: row;
  padding-top: 10px;
  margin: 10px;
}

.listings {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: center;
  background: rgba(204, 204, 204, 0.21);
  padding-left: 10%;
}

hr.line2 {
  width: 9%;
  height: 5px;
  background-image: linear-gradient(to right, orange, yellowgreen, green);
}

.listings h2 {
  font-weight: lighter;
  font-size: 40px;
  padding-top: 20px;
}

.box1 img {
  width: 25px;
}

.box2 img {
  width: 25px;
}

.box3 img {
  width: 25px;
}

.Malto img {
  width: 300px;
}


.icons {
  display: flex;
  gap: 5px;
}

.similarListings {
  display: flex;
  justify-content: center;
  background: #cccccc36;
  height: 350px;
  gap: 10px;
  border: 2px solid red;
}


.box1 {
  padding: 20px 20px 20px 42px;
}

.box2 {
  padding: 20px 20px 20px 50px;
}

.box3 {
  padding: 20px 20px 20px 50px;
}

.images {
  background: #fff;
  height: 300px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  box-shadow: 1px 3px 4px 0px #cccc;
}

h3 {
  padding-left: 20px;
  font-size: 20px;
  font-weight: lighter;
}


/* footer { 
  background-color: rgb(0, 0, 7);
  height: 300px;
}

.footer_flex_items {
  display: flex;
  justify-content: space-around;
  color: white;
}

.footer_p {
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-top: 80px;
}

.heading {
  list-style: none;
  font-style: bold;
}

.orange_footer_text {
  color: orange;
}